<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.getfacedeals.camera"
        version   = "2.0.0">

    <name>FaceDeals Camera</name>

    <description>
        Deals at places where your face is!
    </description>

    <author href="http://2owls.com" email="2owls@gmail.com">
        2Owls
	</author>

    <access origin="*"/>
        
    <!-- ICONS -->
        
    <icon src="assets/img/device_icons/Icon.png" /> <!-- default 72 pixels -->

    <icon src="assets/img/device_icons/ios/Icon.png" gap:platform="ios" width="57" height="57" /> <!-- iPhone 3G, 3GS, iPod Touch 2G, 3G -->
    <icon src="assets/img/device_icons/ios/Icon-72.png" gap:platform="ios" width="72" height="72" /> <!-- iPad 1, 2, iPad mini -->
    <icon src="assets/img/device_icons/ios/Icon@2x.png" gap:platform="ios" width="114" height="114" /> <!-- iPhone 4, 4S, iPod Touch 4G -->
    <icon src="assets/img/device_icons/ios/Icon-72@2x.png" gap:platform="ios" width="144" height="144" /> <!-- iPad 3, 4 -->

    <!-- <icon src="assets/img/device_icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />  36 pixels -->
    <!-- <icon src="assets/img/device_icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />  48 pixels -->
    <!-- <icon src="assets/img/device_icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />  72 pixels -->
    <!-- <icon src="assets/img/device_icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />  96 pixels -->
        
    <!-- <icon src="assets/img/device_icons/winphone/icon.png" gap:platform="winphone" /> 57 pixels -->
    <!-- <icon src="assets/img/device_icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" /> 72 pixels -->
        
    <!-- SPLASH SCREENS -->
        
    <gap:splash src="assets/img/splash/ios/Default~iphone.png" /> <!-- default 320x480 pixels -->
    <gap:splash src="assets/img/splash/ios/Default~iphone.png" gap:platform="ios" width="320" height="480" /> <!-- iPhone 3G, 3GS, iPod Touch 2, 3 -->
    <gap:splash src="assets/img/splash/ios/Default@2x~iphone.png" gap:platform="ios" width="640" height="960" /> <!-- iPhone 4, 4S, iPod Touch 4 -->
    <gap:splash src="assets/img/splash/ios/Default-568h@2x~iphone.png" gap:platform="ios" width="640" height="1136" /> <!-- iPhone 5, iPod Touch 5 -->
    <gap:splash src="assets/img/splash/ios/Default-Landscape~ipad.png" gap:platform="ios" width="1024" height="768" /> <!-- iPad 1, 2, iPad mini -->
    <gap:splash src="assets/img/splash/ios/Default-Portrait~ipad.png" gap:platform="ios" width="768" height="1024" /> <!-- iPad 1, 2, iPad mini -->
    <gap:splash src="assets/img/splash/ios/Default-Landscape@2x~ipad.png" gap:platform="ios" width="2048" height="1496" /> <!-- iPad 3, 4 -->
    <gap:splash src="assets/img/splash/ios/Default-Portrait@2x~ipad.png" gap:platform="ios" width="1536" height="2008" /> <!-- iPad 3, 4 -->
        
    <!-- <gap:splash src="assets/img/splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" /> 200x320 -->
    <!-- <gap:splash src="assets/img/splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" /> 320x480 -->
    <!-- <gap:splash src="assets/img/splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" /> 480x800 -->
    <!-- <gap:splash src="assets/img/splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> 720x1280 -->

        
    <!-- <gap:splash src="assets/img/splash/winphone/splash.jpg" gap:platform="winphone" /> Windows Phone 7 480x800 -->


    <!-- GENERAL PREFERENCES -->
        
    <preference name="phonegap-version" value="3.0.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" /> <!-- remove the upper bar on iOS and Android -->
        
           <!-- Preferences for iOS -->
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value=".25" />
    <preference name="HideKeyboardFormAccessoryBar" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />

    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage"/>
    </feature>
 
    <!-- ANDROID PREFERENCES -->
        
    <preference name="android-minSdkVersion" value="7" /> <!-- minimum Android 2.1 -->
    <!-- <preference name="android-maxSdkVersion" value="17" /> maximum Android 4.2 -->
    <preference name="android-installLocation" value="auto" />
    <preference name="splash-screen-duration" value="3000" />
    <preference name="load-url-timeout" value="20000" />
        
    <!-- BLACKBERRY PREFERENCES -->
        
    <preference name="disable-cursor" value="false" />
        
    <!-- PHONEGAP API FEATURES PREFERENCES -->
        
    <preference name="permissions" value="none"/>

</widget>
